<html>
    <head>
        <title>Paypyrus</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/static/js/materialize.min.js"></script>
        <link href="/static/css/materialize.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/app.css" rel="stylesheet" type="text/css" />
        <!-- <script src="/static/chart/Chart.min.js"></script> -->
        <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDUfH2rcZMI650GRtspHhpzmM5pVIYmkdw"></script> -->

    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </body>
</html>
