{% extends 'navbar.html' %}
{% block content %}

<video autoplay loop poster="/static/img/grandcentral.jpg" id="bgvid">
    <source src="/static/img/grandcentral.webm" type="video/webm">
    <source src="/static/img/grandcentral.mp4" type="video/mp4">
</video>
<div class="cover video-blur"></div>

<div class="panel splash-panel transparent">
    <h1>Welcome to<br><span class="brand-name-header green-text text-lighten-1">paypyrus</span></h1>
    <h4>Money, reimagined.</h4>
    <br />
    {% if not session["username"] %}
        <div class="row"><a class="btn green darken-3 col s6 offset-s3" href="/login">Get Started</a></div>
    {% else %}
        <div class="row"><a class="btn orange darken-1 col s8 offset-s2" href="/user">Go to your Dashboard</a></div>
    {% endif %}
</div>

{% endblock %}
