{% extends 'navbar.html' %}
{% set thispage='redeem' %}
{% block content %}
<div class="cover grey darken-4 centered"></div>
    <h3>Redeem your paypyrus</h3>
    <p style="word-wrap: break-word;">Token ID {{ token | e }}</p>
    <div class="input-field venmofield">
        <input type="text" id="reason" class="form" />
        <label for="reason">payment note (optional)</label>
    </div>

    <div class="input-field venmofield nomargin">
        <input type="text" id="venmo-acct" class="form" />
        <label for="venmo-acct">venmo email or phone number</label>
    </div>
    <a href="#" id="redeem-money" class="btn green">Redeem</a>
    <a href="#" id="check-balance" class="btn blue">Check Balance</a>
    <div class="status"></div>
</div>

<script src='/static/js/redeem.js'></script>
{% endblock %}
