{% extends 'navbar.html' %}
{% set thispage='settings' %}
{% block content %}
<div class="cover grey darken-4"></div>
    <h2>Settings</h2>
    <h5>Delete Account</h5>
    <p>No confirmation, all data associated with account will be deleted.</p>
    <p>Keep in mind you may recreate your account later by simply logging in again.
       You can also revoke paypyrus's Venmo authorization directly by heading over to your Venmo settings,
       going into accounts->password and authorizations->paypyrus->revoke. We do not keep
       any user data after deletion.
   </p>
    <a class="btn red" href="/delete_account/?csrf_token={{ csrf_token() | replace('#', '-') }}">Delete account</a>
</div>
{% endblock %}
