<svg baseProfile="full" height="300px" version="1.1" width="400px" xmlns="http://www.w3.org/2000/svg" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs />
    <image height="35px" width="35px" x="0" xlink:href="/static/svgs/paysign1.svg" y="0" />
    <image height="35px" width="35px" x="0" xlink:href="/static/svgs/paysign1.svg" y="200" />
    <image height="35px" width="35px" x="300" xlink:href="/static/svgs/paysign1.svg" y="0" />
    <image height="35px" width="35px" x="300" xlink:href="/static/svgs/paysign1.svg" y="200" />
    <image height="300px" width="300px" x="55" xlink:href="/static/svgs/paypyrus-sign.svg" y="5" />
    <image height="175px" width="175px" x="80" xlink:href="/qr_svg/{{ token }}/" y="40" />
</svg>
