{% extends 'navbar.html' %}
{% set thispage='stats' %}
{% block content %}
<div class="user-page">
    <h1 style="margin-bottom: 75px;">Hi {{ full_name }},</h1>
	<table id="bill-table" class="bordered black-text">
        <thead>
          <tr>
              <th data-field="amount">Amount</th>
              <th data-field="time">Time Created</th>
              <th data-field="redeemed">Redeemed</th>
              <th data-field="time-redeemed">Time Redeemed</th>
              <th data-field="delete-btn">Delete</th>
          </tr>
        </thead>

        <tbody>
          {% for bill in bills %}
          <tr>
            <td>{{ bill.amount | format_monies }}</td>
            <td>{{ bill.time | ctime }}</td>
            <td>{{ bill.spent }}</td>
            <td>{{ bill.time_redeemed | format_time }}</td>
            <td><a class="delete-bill btn red" href="javascript:void()" data-token="{{ bill.bill_token }}">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

<script>
$(".delete-bill").click(function () {
    var btoken = $(this).data("token");
    var current_element = $(this);
    $.ajax({
        url: "/api/v1/delete_bill/",
        data: {
            bill_token: btoken
        },
        method: 'POST',
        error: function(xhr, status, error) {
            console.log(xhr);
            console.log(error);
            $(".status").html("Error: "+ xhr.responseText)
        },
        success: function(data, status, xhr) {
            if (data == "OK") {
                current_element.removeClass("red");
                current_element.addClass("blue");
                current_element.attr("disabled", "true");
                current_element.html("Deleted");
            }
        }
    });
});
</script>
{% endblock %}
