{% extends 'navbar.html' %}
{% set thispage='dashboard' %}
{% block content %}
<div class="user-page">
    <h1 style="margin-bottom: 75px;">Hi {{ full_name }},</h1>
	<div class="row">
		<div class="col s4 btn-col">
			<a class="btn-large btn-monies green" id="btn-qty-1">$0.01</a>
			<div class="input-field">
	          <input id="quantity_1" type="number" class="validate">
	          <label for="quantity_1">quantity</label>
	        </div>
		</div>
		<div class="col s4 btn-col">
			<a class="btn-large btn-monies green" id="btn-qty-5">$1</a>
			<div class="input-field">
	          <input id="quantity_5" type="number" class="validate">
	          <label for="quantity_5">quantity</label>
	        </div>
        </div>
        <div class="col s4 btn-col">
			<a class="btn-large btn-monies green" id="btn-qty-10">$2</a>
			<div class="input-field">
	          <input id="quantity_10" type="number" class="validate">
	          <label for="quantity_10">quantity</label>
	        </div>
        </div>
	</div>
    <div class="row">
        <button type="submit" id="submit-monies" class="btn-large btn-submit green lighten-1">Submit</button>
    </div>
    <div class="row">
        <div class="input-field">
            <input id="amount-custom" type="number" class="validate">
            <label for="amount-custom">custom bill amount in $</label>
            <button type="submit" id="submit-custom-monies" class="btn-large btn-submit purple lighten-1">Create Custom Bill</button>
        </div>

    </div>

    <div class="grey-text">All bills will expire 60 days from creation.</div>
    <div class="status green-text"></div>
</div>
{% endblock %}

{% block script %}
<script src='/static/js/user.js'></script>
{% endblock %}
