@import url(https://fonts.googleapis.com/css?family=Nixie+One);

/* Remove white outline in Mozilla buttons */
button::-moz-focus-inner {
  border: 0;
}

body {
  /*color: black;*/
  color: #ccc;
  font-family: 'Nixie One', sans-serif;
  font-weight: bold;
}

nav {
  height: 70px;
  line-height: 70px;
  box-shadow: #fff 1px 0px 2px;
}

.brand-title {
  font-size: 40px;
  font-family: 'Nixie One', cursive;
  font-weight: normal;
  line-height: 60px;  /* Centers the text */
}

.brand-name-header {
  font-size: 88px;
  font-style: normal;
}

.panel {
  height: auto;
  min-height: 100%;
  padding: 0 16%;
}

.splash-panel {
  min-height: 100%;
  text-align: center;
}
.splash-panel h1 {
  font-style: italic;
  margin-top: 144px;
  margin-bottom: 44px;
}
.splash-panel h4 {
  margin-bottom: 44px;
}
.splash-panel .btn {
  font-size: 18px;
  height: 55px;
  line-height: 55px;
}

.login-panel h1 {
  margin-bottom: 66px;
}

.btn-col {
  text-align: center;
}

.btn-monies {
  font-size: 40px;
  height: 150px;
  line-height: 150px;
  margin: 0 13px;
  padding: 0px 130px;
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.venmo-logo-img {
  height: auto;
  width: 70px;
}

.venmo-btn {
  display: inline;
  background: rgba(061, 149, 206, 0.9);
  height: 55px;
  line-height: 55px;
  font-size: 18px;
  font-weight: bold;
  text-transform: none !important;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.venmo-btn:hover {
  background: rgba(061, 149, 206, .7);
}



video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(/static/img/grandcentral.jpg) no-repeat;
  background-size: cover;
}

.cover {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-blur {
  background: #000;
  opacity: .72;
}
